#header {
	margin-bottom: 25px;
}

.hero {
	margin-bottom: 50px;
	background: url("/sites/default/files/2022-09/ben_aharoni.jpg");
	background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero_text_area {
	min-height: 500px;
	background: rgba(1, 1, 1, 0.7);
	text-align: center;
	padding: 25px;
}

.hero_text {
	color: #fff;
}

.region--content-below {
	border-top: 2px solid #2494db;
	padding-top: 50px;
}

.site-footer .menu li {
	display: inline-block;
	margin-right: 10px;
}

#block-mqdmtrymmnwsh, #block-hyshtknyslkbyntrnt {
	padding: 25px;
	background: #2494db;
}

#block-mqdmtrymmnwsh h2, #block-mqdmtrymmnwsh p, #block-hyshtknyslkbyntrnt h2, #block-hyshtknyslkbyntrnt p {
	color: #fff;
}

.node--view-mode-teaser h2 {
	font-size: medium;
}

/* Side images */
.field--name-field-tmwnh-zddyt img {
    float: left;
    max-width: 300px;
    margin-right: 10px;
}
