:root {

	/* basic colors */

	--primaryColor: dodgerblue;
	--secondaryColor: linen;
	--actionColor: darkorange;
	--exceptionalColor: green;

	/* basic fonts */

	--primaryFont: arial;
	--secondaryFont: Tahoma;
	--actionFont: alef;
	--exceptionalFont: monospace;

	/* general spacing */

	--minoris: 25px;
	--majoris: 50px;

	/* contact widget and dynamic year ender spacing */

	--contactWidget: 50px;
	--dynamicYear: 100px;

}

* {
	font-family: var(--primaryFont) !important;
}

pre {
	font-family: var(--exceptionalFont) !important;
}

.toolbar-icon {
	margin: 0 10px 0 0 !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* MOST PROBLEMATIC OLIVERO FEATURE IS USE OF SHORTHAND PROPERTIES */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region > * {
	margin-block-end: 0 !important;
}

.main-content__container {
	padding-block-start: 0 !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* NEW HEADER SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--new-header .layout--twocol-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: blue;
}

.region--new-header .layout__region--second {
	padding: var(--majoris);
	text-align: left;
}

.region--new-header .site-branding {
	display: flex;
	align-items: center;
	margin: 0;
	background: unset;
}

.region--new-header .site-branding__inner {
	margin: 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* GENERAL CSS RESETS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

body {
	background-image: none !important; 
}

h1 {
	margin-top: 0;
	margin-bottom: var(--minoris);
	line-height: 1em;
}

/*
h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
	margin-bottom: 0;
}
*/

h2, h3, h4, h5, h6 {
	margin-top: var(--minoris) !important;
	margin-bottom: var(--minoris) !important;
}

/*
h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	margin-top: 0;
	margin-bottom: 0;
}
*/

.node__content p:first-of-type {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

/* Fix about-page p first-of-type problem*/
#block-globalrs-content > div > article > div > div.layout.layout--onecol > div > div > div > div > article > p:nth-child(1) {
	font-weight: normal;
}
#block-globalrs-content > div > article > div > div.layout.layout--twocol-section.layout--twocol-section--50-50 > div.layout__region.layout__region--second > div > div > div > img {
	width: 100%; 
	height: auto; 
	max-width: 500px;
	border-top: 1px solid var(--actionColor);
	border-right: 1px solid var(--actionColor);
	border-bottom: 10px solid var(--secondaryColor);
	border-left: 10px solid var(--secondaryColor);
	border-radius: 10px;
}

.text-content p:last-child:not(:only-of-type) {
	margin-bottom: vaR(--minoris);
}

.cke_editable p:last-child:not(:only-of-type) {
	margin-bottom: vaR(--minoris);
}

.node__content p:last-of-type {
	margin-top: 0;
	margin-bottom: 0;
}

p, .text-content p, .cke_editable p {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

li::marker {
	font-weight: bold;
}

pre {
	padding: var(--minoris);
	overflow:scroll;
	background: darkblue;
	color: #fff;
}

blockquote {
	font-size: 1em !important;
	line-height: 2em !important;
}
blockquote > p {
	font-weight: normal !important;
	font-style: italic !important;
}

hr {
	margin: var(--minoris) auto var(--minoris);
	border: 1px solid var(--primaryColor);
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* WRAPPER, REGION, ARTICLE AND LAYOUT SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.page-wrapper {
	max-width: 100%;
}

.page-wrapper img:not(.whatsapp_icon) {
	/* whatsapp button is outside of wrapper, region and layout settings */
	margin-top: 0;
	margin-bottom: 0;

	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;

	padding-right: 0;
	padding-left: 0;
}

.region {
	justify-content: start;

	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

article {
	margin-bottom: var(--minoris);
}

.layout {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* WRAPPER-REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/**/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* GENERAL BLOCK SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/**/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SPECIFIC BLOCK SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

#block-globalrs-blwqtwknlywnbsyhtmzytmhwshmqdmtrymbdphbyt > div.block__content > div > h2:nth-child(1) {
	margin-top: 0 !important;
}

#block-globalrs-content > div > article > div > div.text-content.clearfix.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item > img {
	margin-bottom: var(--minoris);
}

/*
@media screen and (min-width: 999px) {
	#block-globalrs-content > div > article > div > div.text-content.clearfix.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item > img {
		object-position: top;
		object-fit: cover;
		width: 100%;
		height: 400px;
	}
}
*/

#block-globalrs-blwqmwdwlrymwrhprtylqydwmtrymmwpybdpymmswgdpqydwmwrgny > div.block__content > div.layout.layout--twocol-section.layout--twocol-section--50-50 {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris)
}

#block-globalrs-content > div > article > div > div:nth-child(6) > div > div.views-element-container.block.block-views.block-views-blockdpym-bnws-prswm-mmwmn-bgwgl-ds-block-1,
#block-globalrs-content > div > article > div > div:nth-child(6) > div > div.views-element-container.contextual-region.block.block-views.block-views-blockdpym-bnws-prswm-mmwmn-bgwgl-ds-block-1 {
	text-align: center !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* FIRST HERO REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/**/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SECOND HERO REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--second-hero {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	padding: var(--minoris);
	text-align: center;
	background: var(--secondaryColor);
}

.region--second-hero p {
	margin: 0 auto 17.5px;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* HIGHLIGHTED REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--highlighted {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* PRIMARY MENU, SECONDARY MENU, TABS AND BREADCRUMBS REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--breadcrumb {
	overflow: visible;
	
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.breadcrumb__content {
	overflow: visible;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* MAIN CONTENT REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.main-content__container .container {
	padding-inline: initial;
}

#main > div.main-content > div {
	max-width: 100% !important;
}

.grid-full {
    display: grid !important;
    grid-template-columns: auto !important;
    grid-column-gap: unset !important;
}

.region--content-above {
	margin-top: 0;
	margin-bottom: 33.33px;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--content {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SIDEBAR REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.grid-full .two_new_sidebars_based_on_original_one {
	display: block !important;
}

@media screen and (max-width: 999px) {
	.grid-full:has(.two_new_sidebars_based_on_original_one) {
	  display: block !important;
	}
}

main {
	margin-bottom: var(--majoris);
}

.two_new_sidebars_based_on_original_one .menu--level-1 {
	margin-right: 0;
	margin-left: 0;
}

/* delete olivero redundant lines near menu links */
.menu--sidebar .menu__link::after {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SIDEBAR_FIRST REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--sidebar-first {
	height: max-content;
	margin-top: 0;
	margin-bottom: var(--majoris);
	margin-right: var(--majoris);
	margin-left: var(--majoris);
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SIDEBAR_SECOND REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--sidebar-second {
	padding: var(--minoris) !important;
	text-align: center;
	background: whitesmoke;
}

@media screen and (min-width: 999px) {
	.region--sidebar-second {
		margin-top: 0;
		margin-bottom: var(--majoris);
		margin-right: var(--majoris);
		margin-left: var(--majoris);
	}
}

.region--sidebar-second img:not(.whatsapp_icon) {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: var(--minoris) !important;
	margin-left: var(--minoris) !important;
}

.region--sidebar-second .block:first-child {
	margin-top: 0;
	padding-top: 0;
}

.region--sidebar-second .block {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	padding-top: 0;
	padding-bottom: 0;
}

.region--sidebar-second .block:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.region--sidebar-second .block__title {
	font-size: 2em;
	line-height: 1.25em;
}

.region--sidebar-second .menu__item {
	list-style-type: none;
}

#block-globalrs-tmwntdpmwrhprtylqydwmtrym > div > div > p:nth-child(2) > img {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* IN BETWEEN SIDEBAR AND FOOTER REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--content-below {
	margin-bottom: 10px !important;
	padding: var(--majoris);
	background: var(--secondaryColor);
}

.region--content-below img, .region--third-hero img, .region--fourth-hero img {
	background: var(--secondaryColor);
}

#block-globalrs-dpzhwsqbntwrwptyhwlknnymzhyrmrs > h2 {
	text-align: center;
}

/* random tags view block */

.block-views-blocktgywt-npwzwt-block-1 {
	margin-bottom: 10px !important;
	padding: var(--majoris);
	background: var(--secondaryColor);
}

.block-views-blocktgywt-npwzwt-block-1 .block__title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 62.5px !important;
}

.block-views-blocktgywt-npwzwt-block-1 .views-view-responsive-grid {
	text-align: center;
}

/* two buttons in fourth-hero */

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly {
	margin-bottom: 10px !important;
	padding: var(--majoris);
	background: var(--secondaryColor);
}

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__title {
	text-align: center;
	font-size: 24px;
}

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__content p {
	text-align: center;
	font-size: 24px;
}

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__content a {
	text-align: center;
	font-size: 24px;
}

/* four columns view-block */

#block-globalrs-blwqmwdwlrymmrymlpysywwgviewsmwpybzwrcontentbelow {
	padding: var(--majoris);
	background: var(--secondaryColor);
}

.social-bar__inner {
	margin: 0;
	padding: var(--minoris);
}

.feed-icon {
	justify-content: center;
}

@media screen and (max-width: 999px) {
	.rotate > * {
		margin-bottom: 0;
	}
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* FOOTER REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.site-footer {
	text-align: center;
}

#page > footer > div {
	max-width: 100% !important;
}

.site-footer__inner {
	display: grid !important;
	justify-content: center !important;
	padding-block: var(--minoris) !important;
	max-width: 100% !important;
}

.region--top {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--footer-bottom {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--footer-bottom .block__title {
	color: var(--actionColor);
}

.region--footer-bottom .block__content {
	color: #fff;
}

.region--footer-bottom a:hover {
	color: var(--primaryColor) !important;
}

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh p, #block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh h2 {
	text-align: right;
}

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh p, #block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh img {
	margin: 0 auto 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* NODE SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.node__meta {
	margin-top: 20px; /* Time creation and creator data fix */
}

.node__content {	
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* about node */

.node-275 .layout__region--second img {
	margin: 0 auto var(--majoris);
}

/* contact node */

.page-node-type-dp-yzyrt-qsr .node__content {
	display: none;
}

.page-node-type-dp-yzyrt-qsr .block-system-main-block {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* VIEWS SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/* Hide blog view teasers */

.node--view-mode-teaser .node__content {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* PRIMARY COLOR SUGGESTION TO ACTION BUTTON */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

* > .custom_button {
	word-break: break-word;
}

.custom_button {
	display: inline-flex !important;
	justify-content: space-around !important;
	align-items: center !important;
	margin: var(--majoris) auto 0 !important;
	border-radius: 10px !important;
	padding: 10px !important;

	text-align: center !important;
	background: var(--actionColor) !important;
	color: #fff !important;
	font-size: 24px !important;
	font-weight: bold !important;

	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	box-shadow: none !important;

	/*
	word-break: break-word !important;
	width: max-content !important;
	word-wrap: break-word !important;
	white-space: pre-wrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	*/
}

.custom_button:hover {
	background: #000 !important;
}


.custom_button a {
	color: #fff !important;
	text-decoration: none !important;
	border: none !important;
}

.custom_button a:hover {
	transition: unset !important;
	transition-duration: 0 !important;
	box-shadow: unset !important;
	text-decoration: none !important;

	color: #fff !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SPECIAL BLOCKS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/* Two col "I'd be glad to teach you about SEO" */

.block-block-content4b2d0509-c3c8-4da1-819d-930d08706ed7 img {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: 0 auto 0 !important;
}

/* ---------- */
/* ---------- */
/* HERO REGION BLOCKS GENERAL */
/* ---------- */
/* ---------- */

/* ---------- */
/* ---------- */
/* MAIN CONTENT REGION BLOCKS */
/* ---------- */
/* ---------- */

/* Ben Aharoni for your service block */

#block-globalrs-hyshtknyslkbyntrnt {
	margin-top: 20px !important;
	margin-bottom: var(--majoris) !important;
	padding: var(--majoris);
	border-radius: 10px;
	background: var(--primaryColor)
}

#block-globalrs-hyshtknyslkbyntrnt .block__title {
	margin-top: 0 !important;
	color: #fff;
}
#block-globalrs-hyshtknyslkbyntrnt > div.block__content > div > p:nth-child(1) {
	color: #fff
}

/* ---------- */
/* ---------- */
/* FOOTER REGION BLOCKS */
/* ---------- */
/* ---------- */

/* footer block short about */

#block-globalrs-blwqyswqymnwspymmwpybmgwwnzwrym-2 {
	margin-top: 0;
	padding: var(--minoris);
}

/* footer block menus */

#block-globalrs-blwqtprytpwtrlywn {
	padding: var(--minoris);
}

/* footer block text and image */

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh {
	padding: var(--minoris);
}

/* footer block contact */

#block-globalrs-blwqpwtrthtwnmwdwlry {
	padding: var(--minoris);
}

/* footer block free menu */

#block-globalrs-blwqtprytpwtrhwpsykllylsyyklmrkthtprytymbzwrpwtrthtwn {
	padding: var(--minoris);
}

/* footer block ending */

#block-globalrs-klhzkwywtsmwrwt {
	padding: var(--minoris);
}

/* ---------- */
/* ---------- */
/* NODE BLOCKS */
/* ---------- */
/* ---------- */

/* homepage first general introduction hero */

#block-globalrs-hyrw .block__content {
	padding: var(--majoris);
	background: linear-gradient( rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) ), url("https://benaharoni.com/sites/default/files/2023-10/ben_aharoni_homepage_hero_image.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

#block-globalrs-hyrw .block__content * {
	text-align: center;
	color: #fff;
}

#block-globalrs-blwqprtymhyrwyzyrtqsrbdphbyt {
	padding: var(--majoris);
}

/* homepage three col blocks */

.region--first-hero .layout--threecol-section {
	display: flex;
	align-items: center;
	margin-bottom: var(--minoris);
	text-align: center;
}

/* homepage programmer for web marketing heading */

#block-globalrs-mtkntmwmhhqydwmwrgnyslklnksyntrnty {
	background: var(--primaryColor);
	padding: var(--majoris);
}

#block-globalrs-mtkntmwmhhqydwmwrgnyslklnksyntrnty h2 {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	color: #fff;
}

/* homepage web marketing basic terms definition */

#block-globalrs-blwqtwknlywnbsyhtmzytmhwshmqdmtrymbdphbyt > div.block__content > div {
	padding: var(--majoris);
	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("https://benaharoni.com/sites/default/files/2023-11/ben_aharoni_homepage_after_hero_regular.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

#block-globalrs-blwqtwknlywnbsyhtmzytmhwshmqdmtrymbdphbyt .block__content * {
	text-align: center;
	color: #fff;
}

/* homepage organic promotion and sponsored promotion blocks */

#block-globalrs-qydwmwrgnywqydwmmmwmnbdphbyt {
	padding: var(--majoris);
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
}

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt > div.block__content > div.layout.layout--onecol > div > div > div > div > h2 {
	margin-bottom: var(--majoris);
}

#block-globalrs-qydwmwrgnywqydwmmmwmnbdphbyt > div.block__content > div > div.layout__region.layout__region--first {
	padding: 25px;
	background: var(--secondaryColor);
	border-radius: 37.5px;
}

#block-globalrs-qydwmwrgnywqydwmmmwmnbdphbyt > div.block__content > div > div.layout__region.layout__region--second {
	padding: 25px;
	background: var(--secondaryColor);
	border-radius: 37.5px;
}

/* homepage ecommerce block */

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt {
	padding: var(--majoris);
	margin-top: var(--majoris);
	margin-bottom: var(--majoris) !important;
	background: var(--secondaryColor);
	text-align: center;
}

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt > div.block__content > div > div > div:nth-child(3) > div > div > p {
	margin-top: var(--majoris);
}

/* homepage layout blocks */

.path-frontpage .node__content .block {
	padding: var(--minoris);
}

@media screen and (min-width:999px) {
	.path-frontpage .node__content .block p {
		margin-right: 0;
		margin-left: 0;
		padding-right: 100px;
		padding-left: 100px;
	}
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* CONTACT WIDGET AND DYNAMIC YEAR ENDER SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.cbwtphone_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	max-height: var(--contactWidget);
	height: var(--contactWidget);
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	background: linear-gradient(-160deg,#2494db 0%,#0d7ab8 78.66%);
}

.cbwtphone_wrapper a {
	color: #fff;
}
.cbwtphone_wrapper a:hover {
	color: #000 !important;
}
.cbwtphone_wrapper a:focus {
	color: #fff !important;
}
.cbwtphone_wrapper a:active {
	color: #fff !important;
}
.cbwtphone_wrapper a:visited {
	color: #fff;
}

.whatsapp_link {
	display: inline-block;
	height: var(--contactWidget);
	max-height: var(--contactWidget);
	transition: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
}

.whatsapp_link:hover {
	text-decoration: none !important;
}

.whatsapp_icon {
	display: inline;
	vertical-align: middle;
	width: var(--contactWidget);
	height: var(--contactWidget);
	max-width: var(--contactWidget);
	max-height: var(--contactWidget);
}

.whatsapp_text {
	display: inline;
	vertical-align: middle;
}

.globalrs_dynamic_year {
	min-height: var(--dynamicYear);
	font-weight: bold;
	color: #fff
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* LTR CONTENT */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.page-node-type-dp-ltr {
	direction: ltr;
}

.page-node-type-dp-ltr .breadcrumb::after {
	display: none;
}

.page-node-type-dp-ltr .feed-icon {
	display: none; /* fix feed-icon flowing above text */
}
