.carcb_email_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.carcb_email_link {
    color: white;
    text-decoration: none; /* Fixes continuing line problem */
}

.carcb_email_icon {
    color: white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.carcb_email_text {
    vertical-align: middle;
}
