:root {

	/* basic colors */

	--p: dodgerblue;
	--s: linen;
	--a: darkorange;

	/* general spacing */

	--minoris: 25px;
	--majoris: 50px;

	/* contact widget and dynamic year ender spacing */

	--contactWidget: 50px;
	--dynamicYear: 100px;
}

.page-node-type-dp-ltr {
	direction: ltr;
}

.page-node-type-dp-ltr .feed-icon {
	display: none; /* fix feed-icon flowing above text */
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* MOST PROBLEMATIC OLIVERO FEATURE IS USE OF SHORTHAND PROPERTIES */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/*
* {
	margin-block: 0;
	margin-block-start: 0;
	margin-block-end: 0;

	padding-block: 0;
	padding-block-start: 0;
	padding-block-end: 0;

	border-block: 0;
	border-block-start: 0;
	border-block-end: 0;
}
*/

.region > * {
	margin-block-end: 0 !important;
}

.main-content__container {
	padding-block-start: 0 !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* GENERAL CSS RESETS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

body {
	background-image: none !important; 
}

* {
	font-family: arial !important;
}

#header {
	margin-bottom: 50px;
}

h1 {
	margin-top: 0;
	margin-bottom: var(--minoris);
	line-height: 1em;
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: var(--minoris);
}

h2, h3, h4, h5, h6 {
	margin-top: var(--minoris);
	margin-bottom: var(--minoris);
}

h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	margin-bottom: var(--minoris);
}


/*
p, b, i, u, strong {	
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}
*/

article p:first-child {
	font-weight: bold;
}

p, .text-content p, .cke_editable p {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

p:last-child {
	font-weight: normal;
}

@media screen and (max-width: 480px) {
	ul {
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding-inline-start: 0; 
	}	
}

@media screen and (min-width: 480px) {
	.user-logged-in #toolbar-bar, .user-logged-in .toolbar-menu li {
		margin-right: 10px;
	}
}

/*
ul, ol, li {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}
*/

/*
ul, ol {
	THIS MAY CAUSE DRUPAL LISTS TO BREAK !!!
	list-style-position: inside;
	THIS MAY CAUSE DRUPAL LISTS TO BREAK !!!
}
*/

li::marker {
	font-weight: bold;
}

pre {
	padding: var(--minoris);
	overflow:scroll;
	background: darkblue;
	color: #fff;
}

hr {
	border: 1px solid var(--p);
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* WRAPPER, REGION, ARTICLE AND LAYOUT SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.page-wrapper {
	max-width: 100%;
}

.page-wrapper img:not(.whatsapp_icon) {
	/* whatsapp button is outside of wrapper, region and layout settings */
	margin-top: 0;
	margin-bottom: 0;

	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;

	padding-right: 0;
	padding-left: 0;
}

.region {
	justify-content: start;

	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

article {
	margin-bottom: var(--minoris);
}

.layout {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* WRAPPER-REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/*
.region .block:not(.search-block-form) {
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
}
*/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* GENERAL BLOCK SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/**/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* FIRST HERO REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/**/

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SECOND HERO REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--second-hero {
	text-align: center;
	padding: var(--minoris);
	background: var(--s);
}

.region--second-hero p {
	margin: 0 auto 17.5px;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* HIGHLIGHTED REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--highlighted {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* PRIMARY MENU, SECONDARY MENU, TABS AND BREADCRUMBS REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--breadcrumb {
	overflow: visible;
	
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.breadcrumb__content {
	overflow: visible;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* MAIN CONTENT REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.main-content__container .container {
	padding-inline: initial;
}

#main > div.main-content > div {
	max-width: 100% !important;
}

.grid-full {
    display: grid !important;
    grid-template-columns: auto !important;
    grid-column-gap: unset !important;
}

.region--content-above {
	margin-top: 0;
	margin-bottom: 33.33px;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--content {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SIDEBAR REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

main {
	margin-bottom: var(--majoris);
}

.region--sidebar {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: var(--minoris);
	margin-left: var(--minoris);

	padding-top: 0;
	padding-bottom: 0;
	/* padding-right: var(--minoris); */
	/* padding-left: var(--minoris); */
	
	background: var(--s);
}

.region--sidebar * {
	text-align: center;
}

.region--sidebar img:not(.whatsapp_icon) {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: var(--minoris) !important;
	margin-left: var(--minoris) !important;
}

@media screen and (max-width: 480px) {
	.region--sidebar {
		/*
		border-top: 2px solid var(--p);
		border-bottom: 2px solid var(--p);
		*/
		padding: var(--minoris);
	}
}

.region--sidebar .block:first-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.region--sidebar .block {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.region--sidebar .block:last-child {
	margin-bottom: var(--minoris);
	padding-bottom: var(--minoris);
}

.region--sidebar .block__title {
	font-size: 2em;
	line-height: 1.25em;
}

/* delete olivero redundant lines near menu links */
.menu--sidebar .menu__link::after {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* IN BETWEEN SIDEBAR AND FOOTER REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.region--content-below, .region--third-hero, .region--fourth-hero {
	margin-top: var(--majoris);
	padding: var(--majoris);
	margin-bottom: var(--majoris);
	background: var(--s);
}

.region--content-below img, .region--third-hero img, .region--fourth-hero img {
	background: var(--s);
}

#block-globalrs-dpzhwsqbntwrwptyhwlknnymzhyrmrs > h2 {
	text-align: center;
}

/* two buttons in fourth-hero */

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__title {
	text-align: center;
	font-size: 24px;
}

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__content p {
	text-align: center;
	font-size: 24px;
}

#block-globalrs-blwqstytybwtbhyrwthtwntknymshstnwlhrwnhwlhtqsrly .block__content a {
	text-align: center;
	font-size: 24px;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* FOOTER REGION SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.site-footer {
	text-align: center;
}

#page > footer > div {
	max-width: 100% !important;
}

.site-footer__inner {
	display: grid !important;
	justify-content: center !important;
	padding-block: var(--minoris) !important;
	max-width: 100% !important;
}

.region--top {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--footer-bottom {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.region--footer-bottom .block__title {
	color: var(--a);
}

.region--footer-bottom .block__content {
	color: #fff;
}

.region--footer-bottom a:hover {
	color: var(--p) !important;
}

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh p, #block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh h2 {
	text-align: right;
}

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh p, #block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh img {
	margin: 0 auto 0;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* NODE SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.node__meta {
	margin-top: 20px; /* Time creation and creator data fix */
}

.node__content {	
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

/* about node */

.node-275 p:first-child {
	font-weight: normal !important;
}

.node-275 .layout__region--second {
	padding: var(--minoris);
}

.ben_aharoni_about_me_image {
	margin: 0 auto 0 !important;
	max-width: 500px;
    border-radius: 50%;
}

/* contact node */

.page-node-type-dp-yzyrt-qsr .node__content {
	display: none;
}

.page-node-type-dp-yzyrt-qsr .block-system-main-block {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* VIEWS SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/* Hide blog view teasers */

.node--view-mode-teaser .node__content {
	display: none;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* PRIMARY COLOR SUGGESTION TO ACTION BUTTON */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

* > .custom_button {
	word-break: break-word;
}

.custom_button {
	display: inline-flex !important;
	justify-content: space-around !important;
	align-items: center !important;
	margin: 25px auto 0 !important;
	border-radius: 10px !important;
	padding: 10px !important;

	/*
	word-break: break-word !important;
	width: max-content !important;
	word-wrap: break-word !important;
	white-space: pre-wrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	*/

	text-align: center !important;
	background: var(--a) !important;
	color: #fff !important;
	font-size: 24px !important;
	font-weight: bold !important;

	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	box-shadow: none !important;
}

.custom_button:hover {
	transition: unset !important;
	transition-duration: 0 !important;
	box-shadow: unset !important;
	text-decoration: none !important;
	background: #000 !important;
	color: #fff !important;
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* SPECIAL BLOCKS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

/* Two col "I'd be glad to teach you about SEO" */

.block-block-content4b2d0509-c3c8-4da1-819d-930d08706ed7 {
	padding: var(--majoris);
}

/* ---------- */
/* ---------- */
/* HERO REGION BLOCKS GENERAL */
/* ---------- */
/* ---------- */

/* ---------- */
/* ---------- */
/* MAIN CONTENT REGION BLOCKS */
/* ---------- */
/* ---------- */

/* Ben Aharoni for your service block */

#block-globalrs-hyshtknyslkbyntrnt {
	margin-top: 20px !important;
	margin-bottom: var(--majoris) !important;
	padding: var(--majoris);
	border-radius: 10px;
	background: var(--p)
}

#block-globalrs-hyshtknyslkbyntrnt .block__title {
	margin-top: 0 !important;
	color: #fff;
}
#block-globalrs-hyshtknyslkbyntrnt > div.block__content > div > p:nth-child(1) {
	color: #fff
}

/* ---------- */
/* ---------- */
/* FOOTER REGION BLOCKS */
/* ---------- */
/* ---------- */

/* footer block short about */

#block-globalrs-blwqyswqymnwspymmwpybmgwwnzwrym-2 {
	margin-top: 0;
	padding: var(--minoris);
}

/* footer block menus */

#block-globalrs-blwqtprytpwtrlywn {
	padding: var(--minoris);
}

/* footer block text and image */

#block-globalrs-blwqmwdwlrybpwtrthtwnslstymwdwttqstwtmwnh {
	padding: var(--minoris);
}

/* footer block contact */

#block-globalrs-blwqpwtrthtwnmwdwlry {
	padding: var(--minoris);
}

/* footer block free menu */

#block-globalrs-blwqtprytpwtrhwpsykllylsyyklmrkthtprytymbzwrpwtrthtwn {
	padding: var(--minoris);
}

/* footer block ending */

#block-globalrs-klhzkwywtsmwrwt {
	padding: var(--minoris);
}

/* ---------- */
/* ---------- */
/* NODE BLOCKS */
/* ---------- */
/* ---------- */

/* homepage three col blocks */

.region--first-hero .layout--threecol-section {
	display: flex;
	align-items: center;
	margin-bottom: var(--minoris);
	text-align: center;
}

/* first hero homepage block 1 */

#block-globalrs-hyrw .block__content {
	padding: var(--majoris);
	background: linear-gradient( rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) ), url("https://benaharoni.com/sites/default/files/2023-10/ben_aharoni_homepage_hero_image.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

#block-globalrs-hyrw .block__content * {
	text-align: center;
	color: #fff;
}

#block-globalrs-hyrw > div.block__content > div > p > a {
	margin: var(--majoris) auto 0 !important; /* similar to margin: 0 auto 0 */
}

/* first hero homepage block 2 */

#block-globalrs-blwqprtymhyrwyzyrtqsrbdphbyt {
	padding: var(--majoris);
}

/* first hero homepage block 3 */

#block-globalrs-blwqtwknlywnbsyhtmzytmhwshmqdmtrymbdphbyt > div.block__content > div {
	padding: var(--majoris);
	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("https://benaharoni.com/sites/default/files/2023-11/ben_aharoni_homepage_after_hero_regular.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

#block-globalrs-blwqtwknlywnbsyhtmzytmhwshmqdmtrymbdphbyt .block__content * {
	text-align: center;
	color: #fff;
}

/* first hero homepage block 4 */

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt {
	padding: var(--majoris);
	margin-top: var(--majoris);
	margin-bottom: var(--majoris);
	background: var(--s);
}

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt > div.block__content > div.layout.layout--onecol > div > div > div > div > h2 {
	margin-bottom: var(--majoris);
}

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt li.views-field-title {
	width: max-content;
}

#block-globalrs-blwqtknymhrwnymbnwsmshrlqtrwnybdphbyt > div.block__content > div.layout.layout--twocol-section.layout--twocol-section--50-50 > div.layout__region.layout__region--second {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* homepage layout blocks */

.path-frontpage .node__content .block {
	padding: var(--minoris);
}

@media screen and (min-width:480px) {
	.path-frontpage .node__content .block p {
		margin-right: 0;
		margin-left: 0;
		padding-right: 100px;
		padding-left: 100px;
	}
}

/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* CONTACT WIDGET AND DYNAMIC YEAR ENDER SETTINGS */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

.cbwtphone_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	max-height: var(--contactWidget);
	height: var(--contactWidget);
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	background: linear-gradient(-160deg,#2494db 0%,#0d7ab8 78.66%);
}

.cbwtphone_wrapper a {
	color: #fff;
}
.cbwtphone_wrapper a:hover {
	color: #000 !important;
}
.cbwtphone_wrapper a:focus {
	color: #fff !important;
}
.cbwtphone_wrapper a:active {
	color: #fff !important;
}
.cbwtphone_wrapper a:visited {
	color: #fff;
}

.whatsapp_link {
	display: inline-block;
	height: var(--contactWidget);
	max-height: var(--contactWidget);
	transition: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
}

.whatsapp_link:hover {
	text-decoration: none !important;
}

.whatsapp_icon {
	display: inline;
	vertical-align: middle;
	width: var(--contactWidget);
	height: var(--contactWidget);
	max-width: var(--contactWidget);
	max-height: var(--contactWidget);
}

.whatsapp_text {
	display: inline;
	vertical-align: middle;
}

.globalrs_dynamic_year {
	min-height: var(--dynamicYear);
	font-weight: bold;
	color: #fff
}
